.reproductor{
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 87%;
    margin: 25px auto;
    height: auto;
    background-color: rgba(114, 19, 90, 0.979);
    color: white;
}


.video{
    width: 640px;
}

video{
    width: 640px;
    height: 360px;
}

.controles{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
}

.controles > button{
    width: 130px;
    height: 40px;
    font-size: 14px;
    background-color: var(--botonColor);
    border: none;
    color: white;
    cursor: pointer;
}

.controles > button:hover{
    background-color: var(--botonHover);
}

.controles > button:active{
    background-color: var(--botonActive);
}

.atras .adelante{
    text-align: center;
    font-size: 1.3em;
}

/* ---------- Videos Sugeridos ----------- */

.titulo{
    color: white;
}

.videosSugeridos{
    margin: 0 20px;
    padding: 0 0 0 45px;
    border-left: 1px solid rgb(153, 153, 153);
}

.botonVideo{
    padding: 0 0 0 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.botonVideo:hover{
    background-color: rgba(211, 211, 211, 0.288);
}

.botonVideo:active{
    background-color: rgba(121, 121, 121, 0.534);
}

.tarjetas{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.tarjeta{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}

.imagen{
    background-color: black;
    width: 160px;
    max-width: 160px;
    min-width: 160px;
    height: 90px;
    max-height: 90px;
    min-height: 90px;
}

.info{
    margin: 0 7px;
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
}

